@import "responsive";

@media (min-width: 300px) and (orientation: portrait) {
    .top {
        .header--container {
            width: 75vw;
        }

        img {
            width: 100%;
        }

        h2 {
            margin-left: 10px;
            font-size: 2.5rem;
            letter-spacing: .1rem;
        }
    }

    .photos {
        .photo--grid {
            margin-top: 30px;
            line-height: 0;
            column-count: 1;
        }

        img {
            margin-bottom: 10px;
        }
    }
}

@media (min-width: 300px) and (orientation: landscape) {
    .top {
        .header--container {
            width: 75vw;
        }

        img {
            width: 45%;
        }

        h2 {
            margin-left: 10px;
            font-size: 2.5rem;
            letter-spacing: .1rem;
        }
    }

    .photos {
        .photo--grid {
            margin-top: 30px;
            line-height: 0;
            column-count: 1;
        }

        img {
            margin-bottom: 10px;
        }
    }
}

@media (min-width: 576px) and (orientation: portrait) {
    .top {
        .header--container {
            width: 75vw;
        }

        img {
            width: 100%;
        }

        h2 {

            font-size: 3rem;
            letter-spacing: .1rem;
        }
    }
}

@media (min-width: 768px) and (orientation: portrait) {
    .top {
        .header--container {
            width: 75vw;
        }

        img {
            width: 60%;
        }

        h2 {
            margin-left: 0;
            font-size: 3rem;
            letter-spacing: .1rem;
        }
    }

    .photos {
        .photo--grid {
            margin-top: 50px;
            line-height: 0;
            column-count: 2;
            column-gap: 15px;
        }

        img {
            margin-bottom: 15px;
        }
    }
}

@media (min-width: 768px) and (orientation: landscape) {
    .top {
        .header--container {
            width: 75vw;
        }

        img {
            width: 45%;
        }

        h2 {
            margin-left: 0;
            font-size: 3rem;
            letter-spacing: .1rem;
        }
    }

    .photos {
        .photo--grid {
            margin-top: 50px;
            line-height: 0;
            column-count: 2;
            column-gap: 15px;
        }

        img {
            margin-bottom: 15px;
        }
    }
}

@media (min-width: 992px) {
    .top {
        .header--container {
            width: 65vw;
        }

        img {
            width: 50%;
        }

        h2 {
            font-size: 3.5rem;
            letter-spacing: .1rem;
        }
    }
}

@media (min-width: 1200px) {
    .top {
        .header--container {
            width: 55vw;
        }

        img {
            width: 52%;
        }

        h2 {
            font-size: 4rem;
            letter-spacing: .2rem;
        }
    }

    .photos {
        .photo--grid {
            margin-top: 80px;
            column-gap: 25px;
        }

        img {
            margin-bottom: 25px;
        }
    }
}
