@media (min-width: 300px) {
  .container {
    max-width: 93vw; }

  .sitemap .sitemap--flex {
    margin: 0 auto;
    height: 150px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .sitemap .sitemap--flex h3 {
      font-size: 1.5rem; }
    .sitemap .sitemap--flex ls {
      font-size: .6rem; }
    .sitemap .sitemap--flex .card--margin {
      margin-bottom: 5px; }

  .next-project {
    height: 180px; }
    .next-project .hero-next {
      height: 140px; }

  .info {
    padding-top: 60px;
    padding-bottom: 60px; }
    .info .info--grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      color: white; }
      .info .info--grid .info__card {
        margin-bottom: 10px; }
        .info .info--grid .info__card h3 {
          font-size: .8rem; }
        .info .info--grid .info__card h4 {
          font-size: 1rem; }

  #back-icon {
    width: 25px;
    z-index: 3; } }
@media (min-width: 576px) {
  .container {
    max-width: 540px; }

  .sitemap .sitemap--flex h3 {
    font-size: 1.7rem; }
  .sitemap .sitemap--flex ls {
    font-size: .8rem; }

  .next-project {
    height: 250px; }
    .next-project .hero-next {
      height: 200px; }

  .info--grid .info__card {
    margin-bottom: 10px; }
    .info--grid .info__card h3 {
      font-size: 1rem; }
    .info--grid .info__card h4 {
      font-size: 1.2rem; }

  #back-icon {
    width: 35px; } }
@media (min-width: 768px) {
  .container {
    max-width: 720px; }

  .sitemap .sitemap--flex {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .sitemap .sitemap--flex h3 {
      font-size: 2rem; }
    .sitemap .sitemap--flex ls {
      font-size: 1rem; }
    .sitemap .sitemap--flex .card--margin {
      margin-bottom: 10px; }

  .next-project {
    height: 340px; }
    .next-project .hero-next {
      height: 280px; }

  #back-icon {
    width: 45px; } }
@media (min-width: 992px) {
  .container {
    max-width: 960px; }

  .next-project {
    height: 400px; }
    .next-project .hero-next {
      height: 350px; }

  .info {
    padding-top: 60px;
    padding-bottom: 60px; }
    .info .info--grid {
      display: flex;
      justify-content: space-between;
      color: white; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1150px; }

  .next-project {
    height: 650px; }
    .next-project .hero-next {
      height: 550px; } }
@media (min-width: 300px) and (orientation: portrait) {
  .main {
    padding-bottom: 150px; }

  h2 {
    font-size: 1.7rem;
    margin-bottom: 30px; }

  h3 {
    font-size: 1.1rem;
    margin-top: 20px;
    margin-bottom: 10px; }

  p {
    font-size: .9rem;
    line-height: 1.8rem;
    margin-bottom: 70px; }

  .video iframe {
    height: 200px; }

  .video--center h3 {
    display: block; } }
@media (min-width: 300px) and (orientation: landscape) {
  .main {
    padding-bottom: 150px; }

  h2 {
    font-size: 1.7rem;
    margin-bottom: 30px; }

  h3 {
    font-size: 1.1rem;
    margin-top: 20px;
    margin-bottom: 10px; }

  p {
    font-size: .9rem;
    line-height: 1.8rem;
    margin-bottom: 70px; }

  .video iframe {
    height: 200px; }

  .video--center h3 {
    display: none; } }
@media (min-width: 576px) {
  h2 {
    font-size: 2rem;
    margin-bottom: 35px; }

  h3 {
    font-size: 1.2rem;
    margin-top: 25px;
    margin-bottom: 10px; }

  p {
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 80px; }

  .video iframe {
    height: 300px; } }
@media (min-width: 768px) {
  padding-bottom: 200px;
  h2 {
    font-size: 2.2rem;
    margin-bottom: 40px; }

  h3 {
    font-size: 1.3rem;
    margin-top: 30px;
    margin-bottom: 10px; }

  p {
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 80px; }

  .video iframe {
    height: 400px; } }
@media (min-width: 992px) and (orientation: portrait) {
  h2 {
    font-size: 2.5rem;
    margin-bottom: 50px; }

  h3 {
    font-size: 1.4rem;
    margin-top: 35px;
    margin-bottom: 15px; }

  p {
    font-size: 1rem;
    line-height: 2.5rem;
    margin-bottom: 100px; }

  .video iframe {
    height: 500px; }

  .video--center h3 {
    display: block; } }
@media (min-width: 992px) and (orientation: landscape) {
  h2 {
    font-size: 2.5rem;
    margin-bottom: 50px; }

  h3 {
    font-size: 1.4rem;
    margin-top: 35px;
    margin-bottom: 15px; }

  p {
    font-size: 1rem;
    line-height: 2.5rem;
    margin-bottom: 100px; }

  .video iframe {
    height: 500px; }

  .video--center h3 {
    display: block; } }
@media (min-width: 1200px) {
  h2 {
    font-size: 3rem;
    margin-bottom: 60px; }

  h3 {
    font-size: 1.5rem;
    margin-top: 40px;
    margin-bottom: 20px; }

  p {
    font-size: 1.2rem;
    line-height: 3rem;
    margin-bottom: 100px; }

  .video iframe {
    height: 600px; }

  .video--center h3 {
    display: none; } }

/*# sourceMappingURL=res-film.css.map */
